
	<center id="josiah"><%= image_tag("josiah2.png") %></center>
<h3 align="right">Bringing Home Josiah</h3>
<br />
<br />
<p>Hi we are the Barkley family of five, with one in our hearts, and on his way by early next year! Rick and I met through a church internship and have been married for 13 years. We're polar opposites, as many married couples are. This allows for lots of interesting  discussions but I sure wouldn't have it any other way. Rick is the dreamer in our family and doesn't allow a dull moment to pass :) I help keep him grounded on planet earth :) However, we do have a love for learning and travel in common as well as a love for spending time with our family!  I homeschool our three children, love cooking (when there's time), reading, traveling, gardening, and chickens! Rick loves to read, travel, run and to program! Our children love crafts, playing outside, and traveling (except the long plane ride). </p>

<p>This blog has been set up to help keep friends and family updated in our journey as well as to encourage anyone thinking about adoption! We feel that adoption is a gift and we hope you will see that in the journey of bringing home Josiah! 
</p>
