// Place all the styles related to the Comment2s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.new_comment2 textarea {
	height: 4em;
	width: 30em;
	margin-bottom: 0;
}

#author {
	text-align: left;
}